*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(37,140,145);
background: -moz-linear-gradient(90deg, rgba(37,140,145,1) 0%, rgba(60,135,179,1) 16%, rgba(173,173,173,1) 34%, rgba(148,183,194,1) 60%, rgba(122,198,200,1) 75%);
background: -webkit-linear-gradient(90deg, rgba(37,140,145,1) 0%, rgba(60,135,179,1) 16%, rgba(173,173,173,1) 34%, rgba(148,183,194,1) 60%, rgba(122,198,200,1) 75%);
background: linear-gradient(90deg, rgba(37,140,145,1) 0%, rgba(60,135,179,1) 16%, rgba(173,173,173,1) 34%, rgba(148,183,194,1) 60%, rgba(122,198,200,1) 75%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#258c91",endColorstr="#7ac6c8",GradientType=1);
display: flex;
justify-content: center;
flex-direction: column;
}
.title{
    column-gap: 2px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    background-color: aquamarine;
}
.grid-template{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
    padding: 30px;
    justify-items: center;
}
#Card{
    background-color: aliceblue;
    border: 2px solid black;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cardstofetch{
    width: 290px;
    height: 300px;
    border: 2px solid black;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px;
}
.cardstofetch img{
    width: 100%;
    height: 150px;
}
#Card :hover{
    transform: scale(1.15);
}
.card{
    padding-bottom: 2px;
}